<h1>Book an workshop</h1>

<%= form_with(model: @book, local: true) do |form| %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, :class => "timepicker" %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.text_field :end_date, :class => "timepicker" %>
  </div>

  <div class="actions">
    <%= form.submit({:class => "btn"}) %>
  </div>
<% end %>

