<div class="container book__page-show">
  <h1>My book summary</h1>
  
  <div class="field">
    <strong> Booking of :</strong>
    <%= link_to @workshop.title, workshop_path(@workshop) %>
  </div>
  
  <div class="dates field">
    <div class="dates__start">
      <strong>Arrive date : </strong>
      <%= time_tag(@book.start_date) %>
    </div>
     <div class="dates__end">
      <strong>Leave date : </strong>
      <%= time_tag(@book.end_date) %>
    </div>
  </div>
  
  <div class="price field">
    <strong>Total price : </strong>
    <%= @book.total_price %> €
  </div>
  
  <%= link_to 'Cancel', workshops_show_book_path(@book), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn red" %>
  
</div>