<p id="notice"><%= notice %></p>

<h1>Workshops</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Grade</th>
      <th>Price</th>
      <th>Images</th>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= link_to workshop.title, workshop_path(workshop) %></td>
        <td><%= workshop.description %></td>
        <td><%= workshop.address %></td>
        <td><%= workshop.grade %></td>
        <td><%= workshop.price %></td>
        <td><%= workshop.images.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
