<p id="notice"><%= notice %></p>

<h1>Workshops</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Grade</th>
      <th>Price</th>
      <th>Images</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= workshop.title %></td>
        <td><%= workshop.description %></td>
        <td><%= workshop.address %></td>
        <td><%= workshop.grade %></td>
        <td><%= workshop.price %></td>
        <td><%= workshop.images.count %></td>
        <td><%= link_to 'Show', workshop, :class => "btn" %></td>
        <td><%= link_to 'Edit', edit_workshop_path(workshop), :class => "btn" %></td>
        <td><%= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workshop', new_workshop_path, :class => "btn" %>
