<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @workshop.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workshop.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @workshop.address %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @workshop.grade %>
</p>

<p>
  <strong>Price:</strong>
  <%= @workshop.price %>
</p>

<p>
  <strong>Images:</strong>
  <% @workshop.images.each do |image| %>
    <% if image %>
      <%= image_tag(image, :class => "responsive-img") %>
    <% end %>
  <% end %>
</p>

<% if current_user %>
  <% if @workshop.user_id === current_user.id %>
    <%= link_to 'Edit', edit_users_workshop_path(@workshop), :class => "btn" %>
  <% end %>
  <% if @workshop.user_id != current_user.id %>
    <%= link_to 'Book', workshops_new_book_path(@workshop), :class => "btn" %>
  <% end %>
<% end %>