<p id="notice"><%= notice %></p>

<% if @workshop.images.any? %>
  <div class="carousel carousel-slider">
    <% @workshop.images.each do |image| %>
      <% if image %>
        <a class="carousel-item"><%= image_tag(image, :class => "responsive-img") %></a>
      <% end %>
    <% end %>
  </div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @workshop.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workshop.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @workshop.address %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @workshop.grade %>
</p>

<p>
  <strong>Price:</strong>
  <%= @workshop.price %>
</p>

<% if @workshop.lat.present? && @workshop.lng.present? %>
  <div>
    <strong>Lng:</strong>
    <span id="lng"><%= @workshop.lng %></span>
  </div>

  <div>
    <strong>Lat:</strong>
    <span id="lat"><%= @workshop.lat %></span>
  </div>

  <div id="map"></div>
<% end %>

<% if current_user %>
  <% if @workshop.user_id === current_user.id %>
    <%= link_to 'Edit', edit_users_workshop_path(@workshop), :class => "btn" %>
  <% end %>
  <% if @workshop.user_id != current_user.id %>
    <%= link_to 'Book', workshops_new_book_path(@workshop), :class => "btn" %>
  <% end %>
<% end %>