<div class="container user__page">
  
  <div class="first__information">
    <% if @user.avatar.present? %>
      <div class="container__image">
        <%= image_tag @user.avatar.medium %>
      </div>
    <% end %>
    <% if @user.firstname.present? && @user.lastname.present? %>
      <div class="name">
        <%= @user.firstname %>  <strong><%= @user.lastname %></strong>
      </div>
    <% end %>
  </div>

  <div class="second__information">
    <% if @user.phone_visibility === true %>
      <div class="phone">
        <strong>(visible from public) Phone : </strong>
        <%= @user.phone %>
      </div>
    <% elsif @user.phone_visibility === false && current_user.id.to_i == params[:id].to_i %>
      <div class="phone">
        <strong>(hidden from public) Phone : </strong>
        <%= @user.phone %>
      </div>
    <% end %>

    <div class="email">
      <strong>Email : </strong>
      <%= @user.email %>
    </div>

    <% if @user.description.present? %>
      <div class="description">
        <strong>Description : </strong>
        <div>
          <%= @user.description %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="book">
    <strong>Number of bookings : </strong>
    <%= @book.count %>
  </div>

  <div class="workshop">
    <strong>Number of rentals : </strong>
    <%= @workshop.count %>
  </div>

  <% if current_user.id.to_i == params[:id].to_i %>
    <%= link_to 'Edit profile', edit_user_registration_path, class: 'btn' %>
  <% end %>
</div>