<div class="container">
  <h1>Workshops of the user</h1>
  
  <%= content_tag(:div, notice, :class => "card-panel green darken-1 white-text") if notice %>
  
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Address</th>
        <th>Grade</th>
        <th>Price</th>
        <th>Images</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @workshops.each do |workshop| %>
        <tr>
          <td><%= workshop.title %></td>
          <td><%= workshop.description %></td>
          <td><%= workshop.address %></td>
          <td><%= workshop.grade %></td>
          <td><%= workshop.price %></td>
          <td><%= workshop.images.count %></td>
          <td><%= link_to 'Show', workshop_path(workshop), :class => "btn" %></td>
          <td><%= link_to 'Edit', edit_users_workshop_path(workshop), :class => "btn" %></td>
          <td><%= link_to 'Destroy', users_workshop_path(workshop), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn red" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>