<div class="container workshop__page-index">
  <h1>My workshops</h1>
  
  <%= content_tag(:div, notice, :class => "card-panel green darken-1 white-text") if notice %>
  
  <% if @workshops.empty? %>
    <div class="card-panel">
      <span class="blue-text text-darken-2">
        <div>
          You have no workshops
        </div>
        <br>
        <div>
          <%= link_to 'Create an workshop', new_workshop_path, class: "btn" %>
        </div>
      </span>
    </div>
  <% else %>  
    <table class="striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Address</th>
          <th>Price</th>
          <th>Images</th>
          <th colspan="4"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @workshops.each do |workshop| %>
          <tr>
            <td><%= workshop.title %></td>
            <td><%= workshop.description %></td>
            <td><%= workshop.address %></td>
            <td><%= workshop.price %></td>
            <td><%= workshop.images.count %></td>
             <ul id="dropdown3" class="dropdown-content">
              <li><%= link_to 'Show', workshop_path(workshop) %></li>
              <li><%= link_to 'Edit', edit_users_workshop_path(workshop) %></li>
              <li><%= link_to 'Destroy', users_workshop_path(workshop), method: :delete, data: { confirm: 'Are you sure?' }, :class => "red-text" %></li>
            </ul>
            <td>
              <a class="btn dropdown-button3" data-activates="dropdown3">
                Actions
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>  
</div>