<div class="container workshop__page">
  <h1>New Workshop</h1>
  
  <%= form_with(model: @workshop, local: true) do |form| %>
  
    <% if @workshop.errors.any? %>
      <div class="card-panel red white-text">
        <h5><%= pluralize(@workshop.errors.count, "error") %> prohibited this workshop from being saved:</h5>
  
        <ul>
        <% @workshop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :workshop_title, "data-length" => "60" %>
    </div>

    <div class="field">
      <%= form.label :art_types %>
      <%= form.select(:art_types,
        [['Peinture', 'Peinture'], ['Plastique', 'Plastique'], ['Sculpture', 'Sculpture'], ['Street art', 'Street art'], ['Modelisme', 'Modelisme']],
        { },
        { multiple: true }) %>
    </div>
  
    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :workshop_description %>
    </div>
  
    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, id: :workshop_address, class: "address" %>
    </div>
  
    <div class="field">
      <%= form.label :price %>
      <%= form.text_field :price, id: :workshop_price %>
    </div>

    <div class="field">
      <label>Number of artists accepted for one rental</label> 
      <%= form.number_field :artists_max %>
    </div>
  
     <div class="field">
      <%= form.hidden_field :lat, class: "lat" %>
      <%= form.hidden_field :lng, class: "lng" %>
    </div>
  

    <label>You can add multiple images by holding CTRL or CMD and click on the images (1mo max size per image)</label>
    <div class="field file-field input-field">
      <div class="btn">
        <span>Images</span>
        <%= form.file_field :images, multiple: true %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <br>
    <div class="actions">
      <%= form.submit(class: "btn") %>
    </div>
  <% end %>
</div>