<!DOCTYPE html>
<html>
  <head>
    <title>Artishow <%= '- ' + @title if @title.present? %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/momentjs/latest/moment.min.js' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDnc0ssO0jI_XbACaOYOBaW74m3YDPti_A&libraries=places' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js' %>
  </head>

<ul id="slide-out" class="side-nav">
  <% if user_signed_in? %>
    <li>
      <div class="user-view">
        <div class="background blue-grey darken-4">
        </div>
        <div class="container__image">
          <%= image_tag current_user.avatar.thumb %>
        </div>
        <span class="white-text name"> <%= current_user.firstname %> <%= current_user.lastname %> </span>
        <span class="white-text email"> <%= current_user.email %> </span>
      </div>
    </li>
      <li><%= link_to 'My profile', user_profile_path(current_user) %></li>
      <li><%= link_to 'My workshops', users_workshops_path %></li>
      <li><%= link_to 'My books', workshops_books_all_path %></li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="material-icons">power_settings_new</i> Log out
      <% end %>
    </li>
  <% end %>
</ul>

  <body>
    <div class="navbar-fixed">

    <%# User dropdown %>
    <ul id="user_submenu" class="dropdown-content">
      <li><%= link_to 'Profile', user_profile_path(current_user) if user_signed_in? %></li>
      <li class="divider"></li>
      <li><%= link_to 'My workshops', users_workshops_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'My books', workshops_books_all_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
    </ul>

    <%# Admin dropdown %>
    <ul id="admin_submenu" class="dropdown-content">
      <li><%= link_to 'Profile', edit_admin_registration_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Log out', destroy_admin_session_path, method: :delete %></li>
    </ul>
      <nav>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <div class="nav-wrapper">
          <%= link_to "Artishow", home_path, {:class => "brand-logo"} %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <%= form_tag(workshops_search_results_path, method: :get) do %>
                <%= text_field_tag :keyword, params[:keyword], :placeholder => "Search an workshop" %>
              <% end %>
            </li>
            <% if admin_signed_in? %>
              <li>
                <a class="dropdown-button1" href="#!" data-activates="admin_submenu">
                  Admin
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
              <li> <%= link_to 'Users', admin_users_path %> </li>
            <% end %>
            <% if user_signed_in? %>
              <li><li><%= link_to 'Create a workshop', new_users_workshop_path %></li></li>
              <li>
                <a class="dropdown-button2" data-activates="user_submenu">
                  <% if current_user.firstname && current_user.lastname %>
                    <%= current_user.firstname %> <%= current_user.lastname %>
                  <% else %>
                    <%= current_user.email %>
                  <% end %>
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
            <% else %>
              <% if admin_signed_in?.blank? %>
                <li><%= link_to 'Log in', new_user_session_path %></li>
                <li><%= link_to 'Sign in', new_user_registration_path %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>

    <%= yield %>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          © 2017 Artishow
        </div>
      </div>
    </footer>
  </body>
</html>
