<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbLikePg</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <%= link_to "AirbnbLike", home_path, {:class => "brand-logo"} %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
